@import "vars";
@import "globals";
@import "container";

.section-aboutus {
  .aboutuscontent {
    display: flex;
    justify-content: space-between;

    .content-aboutus {
      max-width: 635px;

      .aboutustitle {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: $accent;
        font-family: $main-font;
      }

      .aboutus-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        font-family: $main-font;
        color: $light;
      }

      .infoblock {
        display: flex;
        justify-content: space-between;
        max-width: 611px;

        .aboutuslist {
          display: flex;
          flex-direction: column;

          .aboutus-name_center {
            text-align: center;
          }

          .aboutus-item_center {
            text-align: center;
          }

          .aboutus-item {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            color: $dark;
            font-family: $main-font;
          }

          .aboutus-name {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            font-family: $main-font;
            color: $light;
          }
        }
      }
    }
  }
}
