@import "vars";

.header {
  padding: 57px 0 22px;

  &__inner {
    min-height: 97px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__btn {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: $black;
    width: 220px;
    height: 65px;
    border: 2px solid $dark;
    border-radius: 5px;
  }
  &__toggle {
    display: none;
  }
}
