@import "vars";
//  media for 992px

@media screen and (max-width: 992px) {
  .body {
    margin: 0;
  }
  .container {
    max-width: 930px;
  }
  .header {
    padding: 25px 0 50px;
    &__img {
      max-width: 90px;
    }
    &__btn {
      text-align: center;
      font-size: 18px;
      line-height: 46px;
      width: 160px;
      height: 46px;
    }
  }

  .menu {
    height: 24px;
    font-size: 16px;
    line-height: 24px;

    &__list + &__list {
      margin-left: 25px;
    }
    &__list:first-child {
      margin-left: 35px;
    }
  }
}

// media for 767

@media screen and (max-width: 767px) {
  .container {
    max-width: 690px;
  }
  .header {
    &__btn {
      display: none;
    }
    &__toggle {
      display: block;
      border: none;
      background-color: $purewhite;
      color: $black;
    }
  }
  .menu {
    display: none;
  }
}

// media for 575
@media screen and (max-width: 575px) {
  .header {
    padding: 35px 0 35px;
    &__toggle {
      width: 50px;
    }
  }
  .container {
    max-width: 493px;
  }
}

// media for 320

@media screen and (max-width: 320px) {
  .header {
    padding: 30px 0 30px;
  }
  .container {
    max-width: 290px;
  }
}
